<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page" id="header-title">CSE Motors</a>
    </span>
    <div id="tools">
      <% if (typeof loggedin !== 'undefined' && loggedin) { %>
        <a href="/account/" title="Welcome">Welcome <%= accountData.account_firstname %></a>
        <a href="/account/logout" title="Logout">Logout</a>
      <% } else { %>
        <a title="Click to log in" href="/account/login">My Account</a>
      <% } %>
    </div>
</header>
