<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header>
  </header>
  <main>
    <h1>Inventory Management</h1>

    <!-- flash message -->

    <div>
      <a href="/inv/add-classification">Add New Classification</a>
      <br>
      <a href="/inv/add-inventory">Add New Inventory</a>
    </div>

    <!-- <section>
      <h2>Current Inventory</h2>
      <div>
        <%= inventory %>
      </div>
    </section> -->
  </main>
  <footer>
    <p>&copy; CSE Motors</p>
  </footer>
</body>
</html>